<footer>
    <div class="footer" style="background-color: rgb(13, 15, 176);">
    <div class="container-fluid p-5  text-white text-center" id="section3">
      <div class="container mt-6">
        <div class="row">
          <div class="col-sm-2">
            <h6>Quick link</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
          </div>
          <div class="col-sm-2">
            <h6>Industries</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
          </div>
          <div class="col-sm-2">
            <h6>Services</h6>        
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
          </div>
          <div class="col-sm-6">
            <h3>Get Updates On Our Website</h3>        
            <pre>Lorem ipsum dolor sit amet, consectetur 
  adipisicing elit...Ut enim ad minim veniam, 
  quis nostrud exercitation ullamco laboris...</pre>
  
    <div class="row p-3" style="width: 400px;">
      <div class="position-relative">
        <div class="col-6 position-absolute top-50 start-50 translate-middle">
          <input type="text" class="form-control" placeholder="Name" aria-label="Name">
        </div>
        <div class="col-6 position-absolute top-50 start-100 translate-middle px-2">
          <input type="email" class="form-control" placeholder="Email" id="inputEmail4">
        </div>       
      </div>      
    </div> 
    <button class="btn btn-warning rounded-5 mt-3" style="color:white">Contact Us</button>  
          </div>
        </div>
        <hr>
        <div class="row">
          <p>Copyright 2024 &copy; All rights reserved.&nbsp;|&nbsp;&nbsp; NeST Digital Pvt Ltd. &nbsp;&nbsp;|&nbsp;&nbsp;A NeST Group Company</p>
        </div>
      </div> 
    </div>
  </div>
  </footer>
